@import url('https://fonts.googleapis.com/css2? family= Alata & display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
    /*border: 1px solid red; */
}

:root {
    --white: #f0f0f0;
    --black: #000000;
}

body {
    width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--black);
}

li {
    list-style: none;
}

.logo {
    width: auto;
    height: 80px;
}

header {
    padding: 2rem 1.5rem 2rem 1rem;   
}

.mainIndex{
    margin: 0 auto;
}
/* Mobile First */

/* Menu Hamburguesa */

.header-container {
    width: 100%;
    background-color: white;
    padding: 2rem 1.5rem 2rem 1rem;
    position:fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar ul {
    background-color: white;
    width: 100%;
    height: calc(100vh - 80px);
    position: fixed;
    top: 120px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transform: translateX(200%);
    transition: all 0.4s ease-out;
} 

.navbar i {
    display: block;
    font-size: 32px;
}

#toggle-menu {
    display: none ;
}

#toggle-menu:checked ~ .navbar-list {
    transform: translate(0%);
    transition: all 0.4s ease-in;
}

/* Fin menu */

#hero {
    margin-top: 150px;
}

/* Section 1: Hero */

.hero-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero-section img {
    width: 85%;
}

.hero-content {
    text-align: center;
}

.hero-content p {
    margin: 1.5rem 0 3rem 0;
}

.btn-hero {
    background-color: red;
    color: var(--white);
    padding: 1rem 4rem;
    border-radius: 1rem;
}

.btn-hero a {
    color: var(--white);
}

.hero-img {
    text-align: center;
}

/* Section 2: About */

.about-section {
    margin: 0 auto;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
}

.about-section h2 {
    text-transform: uppercase;
    padding: 2rem 0 1rem 0;
}

.about-section p {
    text-align: center;
    max-width: 300px;
    margin: 0.5rem auto;
}

.card-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-item {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 1rem;
}
.card-item p {
    padding: 0.5rem;
}

.card-item img {
    padding: 0.50rem;
    width: 150px;
    height: 150px;
}

.link-youtube {
    width: auto;
    height: 400px;
}

/* Section 3: Grid */

.grid-section {
    margin: 0 auto;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grilla-imagen {
    margin: 2rem auto;
    max-width: 300px;
}

/* Grid Container */

.container-grid {
   /*padding: 2rem;*/
    display: grid;
    place-content: center;
    grid-template-columns: 75px 75px 75px 75px;
    grid-auto-rows: 1fr;
    gap: 0.5rem;
    height: 400px;
    /*height: 75vh;*/
}

.item-grid:nth-child(1){
    /*poster 1*/
    grid-column: 1/3;
    grid-row: 1/3;
    border-radius: 5px;
    background: url(./img/atl-01.png) no-repeat center/cover;
}

.item-grid:nth-child(2){
    display: none;
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 5px;
    background-color: rgb(105, 96, 96);
}

.item-grid:nth-child(3){
    display: none;
    grid-column: 3/4;
    grid-row: 1/2;
    border-radius: 5px;
    background-color: rgb(83, 74, 74);
}

.item-grid:nth-child(4){
    /* imagen artista 1*/
    grid-column: 3/5;
    grid-row: 1/2;
    border-radius: 5px;
    background: url(./img/below-img.jpg) no-repeat center/cover;
}

.item-grid:nth-child(5){
    display: none;
    grid-column: 2/4;
    grid-row: 2/4;
    border-radius: 5px;
    background-color: rgb(219, 125, 19);
}

.item-grid:nth-child(6){
    /*logo horizontal*/
    grid-column: 3/5;
    grid-row: 2/3;
    border-radius: 5px;
    background: url(./img/logo-2.png) no-repeat center/cover
}

.item-grid:nth-child(7){
    /*logo horizontal*/
    grid-column: 1/3;
    grid-row: 3/4;
    border-radius: 5px;
    background: url(./img/logo-2.png) no-repeat center/cover;
}

.item-grid:nth-child(8){
    /* poster 2 */
    grid-column: 3/5;
    grid-row: 3/5;
    border-radius: 5px;
    background: url(./img/atl-02.png) no-repeat center/cover;
}

.item-grid:nth-child(9){
    /*imagen artista 2 */
    grid-column: 1/3;
    grid-row: 4/5;
    border-radius: 5px;
    background: url(./img/jonesd-img.jpeg) no-repeat center/cover;
}

.item-grid:nth-child(10){
    display: none;
    grid-column: 2/3;
    grid-row: 4/5;
    border-radius: 5px;
    background-color: rgb(96, 83, 83);
}

.item-grid:nth-child(11){
    display: none;
    grid-column: 3/4;
    grid-row: 4/5;
    border-radius: 5px;
    background-color: rgb(92, 75, 75);
}

/* Section 4: Contact */

.contact-section {
    padding-top: 2rem;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* seccion vias de contacto */

.media-contact {
    /*display: none;*/
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    font-size: 12px;
}

.iconos-contact a {
    color: #f0f0f0;
}

.iconos-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: aliceblue;
    gap: 0.25rem;
}

.iconos-contact-mail {
    display: none;
}

/* seccion mail */

.mail-contact{
    margin: 0 auto;
}

.form-box input {
    width: 250px;
    border: none;
    padding: 5px;
    border-radius: 5px; 
}

.form-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.mensaje-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mensaje-box textarea {
    width: 250px;
    height: 200px;
    border: none;
    border-radius: 5px;
}

#boton-enviar {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #000000;
    color: aliceblue;
}

/* Footer */

footer {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color:white;
    color: var(--black);
    text-align: center;
    font-size: 12px;
}





/* Media Queries */

/* Tablet */

@media (min-width: 756px) {

    /* menu nav */

    .navbar i {
        display: none;
    }

    .header-container {
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        position: fixed;
        top: 0;
        /*background-color: blue;*/
        z-index: 1;
    }

    .navbar {
        display: flex;
    }

    .navbar ul {
        /*background-color: rgb(17, 137, 21);*/
        top: 0;
        position:relative;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        padding-right: 3rem;
        transform: translateX(0%);
        transition: all 0 ease-out;
        width: auto;
        height: auto;
    }

    /* Hero Section */

    #hero {
        margin-top: 0px;
    }

    .hero-section {
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 0 5rem;
      }

      .hero-content {
        display: flex;
        justify-content: center;
        align-items: center;
      }

    .img-manif-hero {
        width: 50%;
    }

    .text-btn-hero {
        width: 50%;
    }

   /* Seccion About */

   .card-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 1rem;
}

.about-section {
    padding-top: 2rem;
}

.link-youtube {
    width: 700px;
  }

/* Section Grid */

.grilla-imagen {
    margin: 2rem auto;
    max-width: 600px;
}

.container-grid {
    /*padding: 2rem;*/
     display: grid;
     place-content: center;
     grid-template-columns: 150px 150px 150px 150px;
     grid-auto-rows: 1fr;
     gap: 0.5rem;
     height: 700px;
     /*height: 75vh;*/
 }

 /* Contact */

 .form-mail input {
    width: 500px;
}

 .mensaje-box textarea {
    width: 500px;
    height: 300px;
    padding: 0.50rem;
}

}

@media (min-width: 540px) {

    .link-youtube {
        width: 500px;
      }
    
    /* Section Grid */
    
    .grilla-imagen {
        margin: 2rem auto;
        max-width: 600px;
    }
    
    .container-grid {
        /*padding: 2rem;*/
         display: grid;
         place-content: center;
         grid-template-columns: 100px 100px 100px 100px;
         grid-auto-rows: 1fr;
         gap: 0.5rem;
         height: 700px;
         /*height: 75vh;*/
     }
    
     /* Contact */
    
     .form-mail input {
        width: 400px;
    }
    
     .mensaje-box textarea {
        width: 400px;
        height: 300px;
        padding: 0.50rem;
    }


}


/* Desktop */

@media (min-width: 1024px) {


   body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

      /* menu nav */

      .header-container {
        margin: 0 auto;
        padding: 1rem;
        width: 100%;
        max-width: 1100px;
        /*background-color: rgb(126, 15, 15); */
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .navbar-list {
        display: flex;
        gap: 2rem;
      }

      .navbar i {
        display: none;
      }

      /* Main */

      #hero {
        margin-top: 0px;
    }


      .mainIndex {
        background-color: #000000;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .hero-section {
        background-color: white;
        width: 100%;
        padding: 5rem;
      }

      .hero-content {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .section-content {
        margin: 100px auto;
      }

      .link-youtube {
        width: 800px;
      }

      footer {
        max-width: 1100px;
        width: 100%;
      }
}




/* LOGIN INGRESAR */

.main-login {
    /*background-color: red;*/
     width: 100%;
     margin-top: 150px;
 }
 
 .section-content {
     margin: 0 auto;
     padding: 3rem;
     /*background-color: blue;*/
     max-width: 500px;
 }
 
 .login-form {
     display: flex;
     flex-direction: column;
     gap: 2rem;
 }
 
 .login-form input, .login-form button {
     padding: 1rem;
 }

#entrar {
    border-style: none;
    width: 100%;
    padding: 1.5rem;
    background-color: black;
    color: white;
}

#resetear {
    border-style: none;
    width: 100%;
    padding: 0.5rem;
    background-color: white ;
    color: black;
}



/* ESTILOS SIGNIN */

.signin-form-container {
    margin-top: 150px;
    display: flex;
}

.item-signin {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item-signin input {
    padding: 1rem;
}

.item-signin-last {
    display: flex;
    align-items: center;
    padding: 2rem;
}

#acepto {
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
} 

#registrar {
    border-style: none;
    width: 100%;
    padding: 1.5rem;
    background-color: black;
    color: white;
}

