* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   /* border: 1px solid red; */
}

:root {
    --white: #f0f0f0;
    --black: #000000;
}

body {
    width: 100vw;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--black);
}

li {
    list-style: none;
}

.logo {
    width: 65px;
    height: 100%;
}

header {
    padding: 2rem 1.5rem 2rem 1rem;   
}

/* Mobile First */

/* Menu Nav */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu i {
    font-size: 2rem;
    color: var(--black);
}

.container-nav {
    width: 100%;
}

.item-nav {
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    display: none;
}

/* Fin menu */

/* Section 1: Hero */

.hero-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero-section img {
    width: 75%;
}

.hero-content {
    text-align: center;
}

.hero-content p {
    margin: 1.5rem 0 3rem 0;
}

.btn-hero {
    background-color: red;
    color: var(--white);
    padding: 1rem 4rem;
    border-radius: 1rem;
}

.btn-hero a {
    color: var(--white);
}

.hero-img {
    text-align: center;
}

/* Section 2: About */

.about-section {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
}

.about-section h2 {
    text-transform: uppercase;
    padding: 2rem 0 1rem 0;
}

.about-section p {
    text-align: center;
    max-width: 300px;
    margin: 1rem auto;
}

.card-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-item {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 1rem;
}

.card-item img {
    width: 200px;
    height: 200px;
}

.link-container {
    height: 250px;
}

.link-youtube {
    height: 250px;
}

/* Section 3: Grid */

.grid-section {
    margin: 0 auto;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grilla-imagen {
    width: 400px;
}

/* Grid Container */

.container-grid {
    padding: 2rem;
    display: grid;
    place-content: center;
    grid-template-columns: 100px 100px 100px 100px;
    grid-auto-rows: 1fr;
    gap: 0.5rem;
    height: 115vh;
}

.item-grid:nth-child(1){
    /*poster 1*/
    grid-column: 1/3;
    grid-row: 1/3;
    border-radius: 5px;
    background: url(./img/below.png) no-repeat center/cover;
}

.item-grid:nth-child(2){
    display: none;
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 5px;
    background-color: rgb(105, 96, 96);
}

.item-grid:nth-child(3){
    display: none;
    grid-column: 3/4;
    grid-row: 1/2;
    border-radius: 5px;
    background-color: rgb(83, 74, 74);
}

.item-grid:nth-child(4){
    /* imagen artista 1*/
    grid-column: 3/5;
    grid-row: 1/2;
    border-radius: 5px;
    background: url(./img/below-img.png) no-repeat center/cover;
}

.item-grid:nth-child(5){
    display: none;
    grid-column: 2/4;
    grid-row: 2/4;
    border-radius: 5px;
    background-color: rgb(219, 125, 19);
}

.item-grid:nth-child(6){
    /*logo horizontal*/
    grid-column: 3/5;
    grid-row: 2/3;
    border-radius: 5px;
    background: url(./img/logo-2.png) no-repeat center/cover
}

.item-grid:nth-child(7){
    /*logo horizontal*/
    grid-column: 1/3;
    grid-row: 3/4;
    border-radius: 5px;
    background: url(./img/logo-2.png) no-repeat center/cover;
}

.item-grid:nth-child(8){
    /* poster 2 */
    grid-column: 3/5;
    grid-row: 3/5;
    border-radius: 5px;
    background: url(./img/below.png) no-repeat center/cover;
}

.item-grid:nth-child(9){
    /*imagen artista 2 */
    grid-column: 1/3;
    grid-row: 4/5;
    border-radius: 5px;
    background: url(./img/below-img.png) no-repeat center/cover;
}

.item-grid:nth-child(10){
    display: none;
    grid-column: 2/3;
    grid-row: 4/5;
    border-radius: 5px;
    background-color: rgb(96, 83, 83);
}

.item-grid:nth-child(11){
    display: none;
    grid-column: 3/4;
    grid-row: 4/5;
    border-radius: 5px;
    background-color: rgb(92, 75, 75);
}

/* Section 4: Contact */

.contact-section {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* seccion vias de contacto */

.media-contact {
    /*display: none;*/
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    font-size: 11px;
}

.iconos-contact a {
    color: #f0f0f0;
}

.iconos-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: aliceblue;
    gap: 0.25rem;
}

/* seccion mail */

.form-box input {
    width: 350px;
    border: none;
    padding: 5px;
    border-radius: 5px; 
}

.form-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.mensaje-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mensaje-box textarea {
    width: 350px;
    height: 200px;
    border: none;
    border-radius: 5px;
}

#boton-enviar {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #000000;
    color: aliceblue;
}

footer {
    padding: 1rem 2rem;
    background-color: #000000;
    color: aliceblue;
    text-align: left;
    font-size: 11px;
}

